
 /*Configuracion inicial de la página*/

 * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
/* margin:0;
 padding: 0;*/
}

body
{
 background-color:#FFE5CC;
 /*background-image: url('../assets/imgs/coder.png');*/
 background-position:center top; /*Posicionamos el fondo en el centro*/
 background-repeat:no-repeat;/*Indicamos que no se repita el fondo*/
 background-size: 50%;/*Ajustamos el tamaño de la imagen de fondo*/
font-family:sans-serif;
}



#tweet-box{
  width:300px;
  border: 1px solid red;
  
}

#tweet-box:empty:not(:focus):before {
  content:attr(placeholder);
  color:gray
}

/*Boton  del formulario  
#sendTwit{
  background-color:#18bc9c;
  border-color:#18bc9c;
  border-radius: 5px;/*Borde radial del boton   
  color:#fff;
  cursor: pointer;

  font-size:15px;
  font-weight:700;
  
  padding: 5px 5px;  
}

/*Evento Hover-Boton  del formulario*
#sendTwit:hover{
  border-color:#11866f;
  background-color:#128f76;
  color:#fff;
  transition-duration:1s;/*Tiempo de transicion*/
}

#tweet-content{
  width:400px;
  outline: solid 2px blue;
}

.tweet{
  width:250px;
  border: solid 2px red;
  font-weight:italic;
}

.red{
  color: red;
}

.orange{
  color: orange;
}

.black{
  color: black;
}

.hour{
  color: blue;
}