
 /*Configuracion inicial de la página*/

 * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
margin:0;
 padding: 0;
}

body
{
  background-color:#e6ecf0;
  background-image: url('../assets/imgs/bg-twitter.jpg');
  background-position:center; /*Posicionamos el fondo en el centro*/
  font-family: 'Fira Sans', sans-serif;
}

 /*Titulo de la cabecera*/
h1{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  padding: 20px;
  text-align: center;
}

/*Estilos que se aplica a la información del perfil de user*/

#perfil {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: inline-block;
  margin:25px;
  padding: 20px;
  text-align:center;
  width:40%;
}

#perfil h2 {
  color: rgba(104, 180, 161, 0.9);
  font-size: 28px;
  margin-bottom: 25px;
}

#perfil p {
  font-size: 25px;
  margin-bottom: 8px;
  text-align: left;
}

/*Estilos que se aplica a la sección en la que se ingresa el tweet*/
#post{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  float: right;
  font-size: 30px;
  margin-right:5%;
  margin-top: 25px;
  padding: 20px;
  width:45%;
}

#tweet-box{
  outline:solid 1px gray;
  padding: 10px;
}

#tweet-box:empty:not(:focus):before {
  content:attr(placeholder);
  color:gray
}

/*Boton  para enviar el tweet*/
#sendTwit{
  border-radius: 15px;/*Borde radial del boton   */
  cursor: pointer;
  font-size:15px;
  font-weight:700;
  margin: 5px;
  padding: 5px;
}

/*Contador de la cantidad de letras ingresadas*/
#counter {
  float: right;
  font-weight: bold;
  margin-right: 20px;
}

/*Clases que serán añadidas de acuerdo a la longitud de caracteres*/
.red{
  color: red;
}

.orange{
  color: orange;
}

.black{
  color: black;
}

/*Estilos que se aplicarán a la sección de tweets posteados*/

#tweet-content{
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  margin:25px;
  padding:25px 100px;
}

.tweet{
  background-color: rgba(255, 255, 255, 0.3);
  margin:5px;
}

.hour{
  text-align: right;
  color: black;
  font-family: Courier New, Courier, monospace;
  font-size: 15px;
  margin:5px;
}